bs4
cinemagoer
edge-tts
emoji
geopy
git-python
glitch_this
googlesearch-python
heroku3
httpx
lottie
lyricsgenius
motor
pillow
psutil
pyroaddon
pyrogram
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
yt-dlp
googletrans @ git+https://github.com/badmunda98/py-googletrans
